<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Criar novo responsável</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	</head>

	<body>
		<header>
			<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary mb-4">
				<div class="container-fluid">
					<a class="navbar-brand"  style="color: aliceblue" href="#">Gerenciamento de atividades</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
						<div class="navbar-nav" >
							<a class="nav-link active"  style="color: aliceblue" aria-current="page" th:href="@{/}">Início</a>
						</div>
					</div>
				</div>
			</nav>
		</header>

		<div class="container col-md-5">
			<div class="card">
				<div class="card-body">
					<div th:if="${responsavel.id == null}">
						<h3>Criar novo responsável</h3>
					</div>

					<div th:unless="${responsavel.id == null}">
						<h3>Editar responsável</h3>
					</div>

					<form th:action="@{/responsaveis/save}" th:object="${responsavel}" method="post">
						<input type="hidden" th:field="*{id}" th:value="${responsavel.id}" />

						<div class="mb-3 mt-4">
							<div class="form-group mb-3">
								<label>Nome </label>

								<div class="col-sm-8">
									<input type="text" th:field="*{nome}" class="form-control" required placeholder="Informe o nome do responsável"/>
								</div>
							</div>
						</div>

						<div class="row mt-5 g-2">
							<div class="col">
								<button th:if="${responsavel.id == null}" type="reset" class="btn btn-outline-secondary btn-md btn-me-3" style="border: none;">Limpar formulário</button>
								<button type="submit"  class="btn btn-outline-success btn-md" style="border: none;">Salvar</button>
							</div>

							<div class="col" style="display: flex;flex-direction: row-reverse;">
								<a th:href="@{'/responsaveis'}" class="btn btn-outline-primary btn-md mb-2" style="border: none;">Voltar</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>